# =========================================================================================
#                                  !!   C A U T I O N   !!
#
#      ALWAYS copy this file to .env before modifying to avoid leaking your bot token!
#               The .env file is in .gitignore, the .env.example file is not!
# =========================================================================================



# The Telegram Bot token. The example token is an invalid token and it will not work.
# Replace it with your own token. Never put your bot token in .env.example, to avoid leaking it.
#
# REQUIRED! Bot will not run without this environment variable present.
GMS_TOKEN = 12345678:aBcdEFghijK1LmnOPQrstuv2wxyzAB3cd

# The directory where the bot will store all files
#
# Optional - Default value: .
GMS_STORAGE_DIRECTORY = ./run

# The maximum amount of cached sessions that can be in memory at a time, a session being a state object
# associated to a user who is using the bot. When the amount of cached sessions exceeds this value, the bot will
# unload the least recently used sessions.
#
# - If the bot is used a lot and memory is not an issue, consider making this value higher.
# - If memory is limited, consider making this value smaller.
#
# Optional - Default value: 65535
GMS_MAX_CACHED_SESSIONS = 65535
